@font-face {
    font-family: 'Figtree';
    src: url('font/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Midnight Sans RD';
    src: url('font/midnight-sans-rd-12-medium-trial.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Midnight Sans RD';
    src: url('font/midnight-sans-rd-12-semibold-trial.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckless Condensed S';
    src: url('font/RecklessCondensedS-TRIAL-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('font/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('font/RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100dvh;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FBF9EB;
    font-family: 'Figtree';
    position: relative;
}

/* image wrapper */
.hero-wrapper {
    min-height: 95vh;
    position: relative;
    background-image: url('./media/AlpineBerry_mobile.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
}

header {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    z-index: 10;
}

nav {
    width: 100%;
}

.nav-content {
    background-color: #FFFEFB;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.7rem;
    padding: .5rem 1rem;
}

.hamburger i {
    font-size: 2rem;
}

.pages-link {
    display: flex;
    gap: 2rem;
    font-family: 'Reckless Condensed S';
}

.link-name {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.link-name p {
    font-size: 1.5rem;
    font-weight: 400;
}

.circle {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #C0DBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black
}

.circle i {
    font-size: 1rem;
}

.star i {
    color: #FFB500;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    font-family: 'roboto Mono';
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .8px;
}

.bag {
    position: relative;
}

.bag i {
    font-size: 2rem;

}

.cart-count {
    position: absolute;
    top: .7rem;
    right: -0.5rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #FFB500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto Mono';
    font-size: .8rem;
    border: 1px solid black;
}

.desktop-view {
    display: none;
}

.mobile-view {
    display: block;
}


.hero-section {
    width: 100%;
    position: absolute;
    top: 45%;
    padding: 0 1.5rem;
}

.hero-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}

.hero-content h1 {
    font-family: 'reckless condensed s';
    font-size: clamp(3rem, 8vw, 3.1rem);
    font-weight: 400;
    color: #FBF9EB;
    line-height: 1.2;
    text-align: center;
}

.hero-content p {
    font-family: 'Figtree';
    font-size: clamp(1rem, 2vw, 1rem);
    color: #FBF9EB;
    font-weight: 500;
}

.hero-content button {
    cursor: pointer;
    padding: .8rem 1.5rem;
    background-color: #2A2857;
    color: #FBF9EB;
    border: none;
    font-size: clamp(1.2rem, 2vw, 1rem);
    border-radius: 99999px;
}

.section-2 {
    width: 100%;
    /* padding: 0 1.5rem; */
    padding-bottom: 4rem;
    border-bottom: 1.5px solid black;
}

.about-text {
    width: 100%;
    padding: clamp(2rem, 5vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 h2 {
    width: 100%;
    font-family: 'reckless condensed s';
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-weight: 400;
    text-align: center;
    padding: 2rem 0;
    line-height: 1.2;
}

/* section card-wrapper */

.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
}

.card-title {
    width: fit-content;
    padding: 0 .5rem;
    background-color: #DAAEEA;
    border: 1px solid black;
    border-radius: 0.7rem;
    transform: rotate(-2deg)
}

.card-title h3 {
    font-family: 'midnight sans rd';
    font-size: clamp(2.5rem, 3vw, 2rem);
    font-weight: 500;
    text-align: center;
}

.card-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.card {
    width: 300px;
    flex: 0 0 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.card-img-wrapper {
    width: 100%;
    height: 65%;
    border: 1px solid black;
    border-radius: 0.5rem;
    position: relative;
    padding: .7rem;
}

.first-card {
    background-color: #C1EE91;
}

.second-card {
    background-color: #FFD884;
}

.third-card {
    background-color: #B0E8C1;
}

.fourth-card {
    background-color: #C1E4F8;
}

.fifth-card {
    background-color: #C0E571;
}

.sixth-card {
    background-color: #FFCB96;
}

.seventh-card {
    background-color: #FFD1B8;
}

.eighth-card {
    background-color: #CCE3FF;
}

.ninth-card {
    background-color: #AEE0F9;
}

.card-img-wrapper img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.card-img-wrapper:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.product-info h4 {
    font-family: 'midnight sans rd';
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    font-weight: 500;
    background-color: white;
    border: 1px solid black;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.product-info span {
    font-size: clamp(1rem, 2vw, 1rem);
}

.card-img-wrapper .add-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
}

.card-details-wrapper {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-details-wrapper h4 {
    font-family: 'reckless condensed s';
    font-size: clamp(1.5rem, 2vw, 1.2rem);
    font-weight: 400;
}

.card-details-wrapper span {
    font-size: clamp(.9rem, 2vw, 1rem);
}

.card-details-wrapper p {
    font-size: clamp(.9rem, 2vw, 1rem);
    color: #4F4C47;
}

.price-and-desc {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.explore-btn {
    width: fit-content;
    padding: 1rem 3rem;
    background-color: #2A2857;
    border: none;
    color: white;
    font-size: clamp(1rem, 2vw, 1rem);
    border-radius: 99999px;
    align-self: center;
}


/* section 3 */

.section-3 {
    width: 100%;
    padding: 4rem 0;
}

.section-3 .section-3-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
}

.section-3-wrapper h3 {
    font-family: 'midnight sans rd';
    font-size: clamp(2.5rem, 3vw, 2rem);
    font-weight: 500;
    padding: 0 .3rem;
    background-color: #FF7F31;
    border: 1px solid black;
    border-radius: 0.7rem;
    transform: rotate(-2deg);
    align-self: flex-start;
}

.section-3-content h2 {
    font-family: 'reckless condensed s';
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-weight: 400;
    line-height: 1.2;
}

.section-3-wrapper input {
    font-family: 'reckless condensed s';
    width: 100%;
    padding: 1.5rem 1.2rem;
    border: 1px solid black;
    border-radius: 0.9rem;
    font-size: clamp(2rem, 4vw, 3rem);
    background-color: transparent;
    outline: none;
    line-height: 1;
}

.section-3-wrapper input::placeholder {
    font-size: clamp(2rem, 4vw, 3rem);
    color: #BFBFBF;
    opacity: 1;
}

.section-3-wrapper span {
    font-size: clamp(.9rem, 2vw, 1rem);
}

.featured-categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.featured-categories h2 {
    font-family: 'reckless condensed s';
    font-size: clamp(2rem, 3vw, 2rem);
    font-weight: 500;
    padding: .4rem 1rem;
    background-color: #DAEAFF;
    border: 1px solid black;
    border-radius: 0.7rem;
}

.section-4 {
    width: 100%;
    /* min-height: 100vh; */
    background-image: url('./media/adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 4rem;
}

.kettleImg {
    position: absolute;
    top: -5%;
    right: 1.5rem;
    width: 35%;
}

.section-4-content {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-4-content .top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 8rem;
}

.top-text h3 {
    width: fit-content;
    font-size: clamp(2.5rem, 3vw, 2rem);
    font-weight: 500;
    padding: 0 .3rem;
    background-color: #A2C9FC;
    border: 1px solid black;
    border-radius: 0.7rem;
    transform: rotate(-2deg);
    font-family: 'midnight sans rd';
}

.top-text h2 {
    font-size: clamp(5.5rem, 4vw, 2.5rem);
    font-weight: 700;
    line-height: 0.8;
    text-align: center;
    color: #fff;
    font-family: 'midnight sans rd';
}

.center-text {
    width: 100%;
    font-family: 'reckless condensed s';
    font-size: clamp(2rem, 2vw, 1.2rem);
    text-align: center;
    color: #fff;
}

.features-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 30px 15px;
    box-sizing: border-box;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100px;
    gap: 1rem;
    flex: 1 1 120px;
}

.feature-icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.feature-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 0px;
    margin: 0;
}

.story-btn {
    width: 100%;
    padding: 1rem 3rem;
    border: none;
    font-size: clamp(1rem, 2vw, 1rem);
    border-radius: 99999px;
}

.section-5 {
    width: 100%;
    padding: 4rem 1.5rem;
}

.section-5 h3 {
    font-family: 'midnight sans rd';
    width: fit-content;
    font-size: clamp(2.5rem, 3vw, 2rem);
    font-weight: 500;
    padding: 0 .3rem;
    background-color: #73BC25;
    border: 1px solid black;
    border-radius: 0.7rem;
    transform: rotate(-2deg);
}

.review-card-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 3rem 0;
}

.review-card {
    flex: 0 0 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
}

.review-text {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-text div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review-text h4 {
    font-family: 'reckless condensed s';
    font-size: clamp(2rem, 2vw, 2.5rem);
    font-weight: 500;
    text-align: center;
}

#big-font {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.review-text p {
    font-size: clamp(.9rem, 2vw, 1rem);
    text-align: center;
    color: #4F4C47;
}

.review-product {
    height: 30%;
    width: 100%;
    padding: .6rem;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.img-wrapper {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.review-product p {
    font-family: 'roboto Mono', monospace;
    font-size: clamp(.9rem, 2vw, 1rem);
    font-weight: 400;
    line-height: .9;
    text-transform: uppercase;
    color: white;
}

.review-product button {
    padding: 1rem 1rem;
    border: none;
    color: black;
    font-size: clamp(1rem, 2vw, 1rem);
    border-radius: 99999px;
}

.card-1 {
    background-color: #F5AF8A;
}

.product-1 {
    background-color: #EA6D44;
}

.card-2 {
    background-color: #ABDF74;
}

.product-2 {
    background-color: #73BC25;
}

.card-3 {
    background-color: #FFD265;
}

.product-3 {
    background-color: #FFB500;
}

.card-4 {
    background-color: #ADE674;
}

.product-4 {
    background-color: #8BC045;
}

.card-5 {
    background-color: #D9C2E1;
}

.product-5 {
    background-color: #C790DB;
}

.section-6 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-6 .left-side {
    width: 100%;
    min-height: 50vh;
    background-image: url('./media/Our_Cafe_Wholesale_Partners.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-6 .right-side {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #2A2857;
    color: white;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}

.section-6 .right-side h2 {
    font-family: 'reckless condensed s';
    font-size: clamp(3rem, 4vw, 2.5rem);
    font-weight: 400;
    text-align: center;
}

.section-6 .right-side p {
    font-size: clamp(1.3rem, 2vw, 1rem);
    text-align: center;
}

.section-6 .right-side button {
    padding: 1rem 3rem;
    border: none;
    width: 100%;
    font-size: clamp(1.1rem, 2vw, 1rem);
    border-radius: 99999px;
}

.section-7 {
    width: 100%;
   min-height: 160vh;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
   
}


.section-7-content-wrapper {
    flex: 0 0 100vw;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 1.3rem;
    padding-bottom: 4rem;
}

.top-content {
    width: 100%;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.top-content h3 {
    font-family: 'midnight sans rd';
    font-size: clamp(2.4rem, 3vw, 2rem);
    font-weight: 500;
    padding: 0 .3rem;
    border: 1px solid black;
    border-radius: 0.7rem;
    transform: rotate(-2deg);
}

.first-content h3 {
    background-color: #FFCB96;
}

.second-content h3 {
    background-color: #C0E571;
}

.third-content h3 {
    background-color: #FFD265;
}

.fourth-content h3 {
    background-color: #FFDAB3;
}

.top-content h2 {
    font-family: 'midnight sans rd';
    font-size: clamp(3.7rem, 4vw, 2.5rem);
    font-weight: 700;
    color: white;
    line-height: 0.9;
    text-align: center;
}

.top-content p {
    font-family: 'roboto Mono', monospace;
    font-size: clamp(.9rem, 2vw, 1rem);
    text-align: center;
    color: white;
}

.bottom-content {
    width: 100%;
    flex: 6;
    border: 1px solid black;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 2rem; */
}

.bottom-content-1 {
    background-color: #FFDAB3;
}

.bottom-content-2 {
    background-color: #C0E571;
}

.bottom-content-3 {
    background-color: #FFD265;
}

.bottom-content-4 {
    background-color: #FFDAB3;
}

#first-wrapper {
    background-color: #BA7E38;
}

#second-wrapper {
    background-color: #4A6808;
}

#third-wrapper {
    background-color: #986300;
}

#fourth-wrapper {
    background-color: #BA7E38;
}


.bottom-content .image-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
    overflow: visible;
}

.bottom-content .image-wrapper img {
    width: 125%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: -35%;
    right: 10%;
}

.bottom-content-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem;
}

.bottom-content-wrapper h3 {
    font-family: 'midnight sans rd';
    font-size: clamp(2.4rem, 3vw, 2rem);
    font-weight: 500;
    background-color: #E8AA63;
    padding: 0 .3rem;
    border: 1px solid black;
    border-radius: 0.7rem;
    transform: rotate(-2deg);
}

.bottom-content-wrapper h2 {
    font-family: 'reckless condensed s';
    font-size: clamp(3rem, 4vw, 2.5rem);
    font-weight: 300;
    text-align: center;
    line-height: 0.9;
}

.bottom-content-wrapper p {
    font-size: clamp(1.2rem, 2vw, 1rem);
    text-align: center;
}

.bottom-content-wrapper button {
    padding: 1rem 3rem;
    border: none;
    font-size: clamp(1rem, 2vw, 1rem);
    border-radius: 99999px;
    border: 1px solid black;
}

















/* for tablets */
@media (min-width:768px) {}

@media (min-width:1024px) {
    .hero-wrapper {
        min-height: 100vh;
        background-image: url('./media/AlpineBerry.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 1px solid black;
    }

    .desktop-view {
        display: flex;
    }

    .mobile-view {
        display: none;
    }

    .pages-link {
        display: flex;
    }

    .nav-links {
        display: flex;
    }

    .hero-section {
        width: 45%;
        position: absolute;
        top: 45%;
        padding: 0 1.5rem;
    }

    .hero-content {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero-content h1 {
        font-weight: 400;
        color: #FBF9EB;
        line-height: 1.2;
        text-align: left;
    }

    .hero-content p {
        color: #FBF9EB;
        font-weight: 500;
    }

    .hero-content button {
        width: fit-content;
        padding: .8rem 3rem;
    }

}